<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST">
  {% csrf_token %}


<div>
  <label for="username">username</label>
  <input type="text" name="username" id="username">

</div><br>

<div>
  <label for="password">password</label>
  <input type="text" name="password" id="password">
</div><br>


<br>

<div class="formfield">
  <button type="submit" class="btn-larg ">Button</button>
</div>


</form>



</body>
</html>